{% extends 'base.html' %}
{% load question_extras %}

{% block head %}
<title>Quiz Application | Home</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Quiz Results</h1>
    <h3 class="text-center">{{ take.quiz.title }}</h3>
    <h4 class="text-center text-info">Quiz taker: {{ take.user }}</h3>
    <hr>

    {% for question in take.quiz.question_set.all %}
    <div class="row">
        <div class="col-md-4 offset-md-4 text-center">


        {% if question|is_correct:take %}
        <h4 class="text-center text-success" style="display;">
            {{ question.question_text }} <i class="far fa-check-square"></i>
        </h4>
        {% else %}
        <h4 class="text-center text-danger" style="display;">
            {{ question.question_text }} <i class="far fa-times-circle"></i>
        </h4>
        {% endif %}
        <table class="table">
            {% for choice in question.choice_set.all %}
            {% if choice.is_correct %}
            <td class="table-success">{{ choice }}</td>
            {% else %}
            <td>{{ choice }}</td>
            {% endif %}
            {% endfor %}
        </table>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
