{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1 class="text-center">Recent Quizzes Taken</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="text-center text-danger"> {{ message }}</p>
        {% endfor %}
    {% endif %}

    {% if takes %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Quiz Name</th>
                <th scope="col">Date Taken</th>
                <th score="col">Score</th>
            </tr>
        </thead>
        <tbody>
            {% for take in takes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'takes:results' take.id %}">{{ take.quiz }}</a></td>
                <td>{{ take.date_taken }}</td>
                <td>{{ take.score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4 class="text-center">No quiz taken yet. <a href="{% url 'quizzes:index' %}">Take a quiz now</a></h4>
    {% endif %}
</div>

{% include 'pagination.html' %}

{% endblock %}
