{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h1 class="text-center">Register</h1>
    <form class="col-md-4 offset-md-4" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <small class="text-danger">{{ field.errors }}</small>
                <label>{{ field.label_tag}}</label>
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-block btn-primary" value="Register">
    </form>
    <div class="col-md-4 offset-md-4 text-center">
        <hr>
        <p>Register via Social</p>
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-outline-primary">
            <span class="fab fa-google"></span>
        </a>
        <a href="{% url 'social:begin' 'github' %}" class="btn btn-outline-primary">
            <span class="fab fa-github"></span>
        </a>
        <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-outline-primary">
            <span class="fab fa-facebook"></span>
        </a>
        <br>

    </div>
</div>
{% endblock %}
