{% extends 'base.html' %}
{% load question_extras %}

{% block head %}
<title>Quiz Application | Home</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Quiz: {{ quiz.title }}</h1>
    <hr>
    {% if quiz|has_questions %}
    <p class='text-center'>Number of questions: {{ quiz.question_set.count }}</p>
    <form method="POST">
        {% csrf_token %}
        <button class="align-center btn btn-primary btn-lg offset-md-4 col-md-4" type="submit">Start Quiz</button>
    </form>
    {% else %}
    <p class="text-center">Quiz has not yet been setup. No questions available.</p>
    {% endif %}
</div>

{% endblock %}
