{% extends 'base.html' %}

{% block head %}
<title>Quiz Application | Home</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">List of Quizzes</h1>
    <hr> {% if quiz_list %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Quiz Name</th>
                <th scope="col">Created by</th>
                <th scope="col">Date Created</th>
                <th scope="col">Expiration Date</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in quiz_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'quizzes:detail' quiz.id %}">{{ quiz.title }}</a></td>
                <td>{{ quiz.created_by }}</td>
                <td>{{ quiz.date_created|date:'F d, Y' }}</td>
                <td>{{ quiz.expiration_date|date:'F d, Y' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4 class="text-center">No quizzes available today</h4> {% endif %} {% include 'pagination.html' %}
</div>
{% endblock %}
