{% extends 'base.html' %}

{% block body %}
<h1 class="text-center">Create a Question</h1>
<h3 class="text-center">Quiz: {{ quiz.title }}</h3>
<hr>

<div class="col-md-4 offset-md-4 text-center">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {% if question_id %}
        <a href="{% url 'quizzes:question_delete' question_id%}" class="btn btn-danger col-md-5">Delete</a>
        <button class="btn btn-success col-md-5 offset-md-1">{{ action }} Question</button>
        {% else %}
        <button class="btn btn-success btn-block">{{ action }} Question</button>
        {% endif %}
    </form>
</div>


{% endblock %}
