{% extends 'base.html' %}

{% block head %}
<title>Quiz Application | Home</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">List of Quizzes</h1>
    <hr>
    <div class="col-md-4 offset-md-4 text-center">
        <a href="{% url 'quizzes:create' %}" class="btn btn-outline-primary">Create a quiz here</a>
    </div>
    <br>
    {% if quiz_list %}
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Quiz Name</th>
                <th scope="col">Date Created</th>
                <th scope="col">Expiration Date</th>
                <th scope="col">Published</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in quiz_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'quizzes:usercreated_detail' quiz.id %}">{{ quiz.title }}</a></td>
                <td>{{ quiz.date_created|date:'F d, Y' }}</td>
                <td>{{ quiz.expiration_date|date:'F d, Y' }}</td>
                <td>
                    {% if quiz.published %}
                    <i class="fas fa-check-circle text-success"></i>
                    {% else %}
                    <i class="fas fa-times-circle text-danger"></i>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4 class="text-center">No quizzes Created</h4>
    {% endif %}
    {% include 'pagination.html' %}
</div>
{% endblock %}
