{% extends 'base.html' %}

{% block head %}
<title>Quiz Application | Home</title>
{% endblock %}

{% block body %}
<div class="container">
    {% with questions|first as question %}
    <h1 class="text-center"> {{ question.quiz }}</h1> {% endwith %}
    <hr> {% for question in questions %}
    <p class="text-center">{{ question }}</p>
    <div class="pagination col-md-4 offset-md-4">
        <span class="mx-auto">
                {% if questions.has_previous %}
                <a href="?question={{ questions.previous_page_number }}">&lt&lt </a>
                {% endif %}
                <span class="current">
                    Question {{ questions.number }} of {{ questions.paginator.num_pages }}
                </span> {% if questions.has_next %}
        <a href="?question={{ questions.next_page_number }}"> &gt&gt</a> {% endif %}
        </span>
    </div>
    <form method=post>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <div class="col-md-4 offset-md-4 text-center">
            <hr>
            <table>
                <tr>
                    {% for choice in question.choice_set.all %} {% if messages %} {% for message in messages %}
                    <small class="text-success">{{ message }}</small> {% endfor %} {% endif %}
                    <td>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ choice.id }}" class="custom-control-input">
                            <label for="answer{{ forloop.counter }}" class="custom-control-label">{{ choice }}</label>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
            </table>
            <hr>
        </div>
        <div class="col-md-4 offset-md-4 text-center">
            {% if questions.number == questions.paginator.num_pages %}
            <input type="hidden" name="finish" value="1">
            <button class="btn btn-xs btn-success text-center" type="submit">End Quiz</button> {% else %}
            <button class="btn btn-xs btn-success text-center" type="submit">Submit answer</button> {% endif %}
        </div>
    </form>
    {% endfor %}
</div>
{% endblock %}
