{% extends 'base.html' %}

{% block head %}
<title>Quiz Application | Home</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">List of Questions</h1>
    <h3 class="text-center">
        Quiz: {{ quiz.title }} <a href="{% url 'quizzes:quiz_update' quiz.id %}" class="fas fa-edit text-primary"></a>
    </h3>

    <hr>
    <div class="col-md-4 offset-md-4 text-center">
        <a href="{% url 'quizzes:question_create' quiz.id%}" class="btn btn-outline-primary">Add a question</a>
    </div>
    <br>
    {% if quiz.question_set.all %}
    {% for question in quiz.question_set.all %}
    <div class="row">
        <div class="col-md-4 offset-md-4 text-center">
        <h4 class="text-center text-info" style="display;">
            {{ question.question_text }} <a href="{% url 'quizzes:question_update' question.id%}"><span class="fas fa-edit text-primary"></span></a>
            <div class="col-md-4 offset-md-4 text-center">
                <a href="{% url 'quizzes:choice_create' question.id %}" class="btn btn-sm btn-outline-primary text-center">
                    Choice <i class="fas fa-plus"></i>
                </a>
            </div>
        </h4>

        <table class="table table-responsive">
            <tbody>
                {% for choice in question.choice_set.all %}
                <td {% if choice.is_correct %} class="table-success" {% endif %}>
                    <a href="{% url 'quizzes:choice_update' choice.id %}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <p>{{ choice }}</p>
                </td>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h4 class="text-center">No questions created</h4>
    {% endif %}
    {% include 'pagination.html' %}
</div>
{% endblock %}
