{% extends 'base.html' %}

{% block body %}
<h1 class="text-center">Create a Quiz</h1>
<hr>

<div class="col-md-4 offset-md-4 text-center">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {% if quiz.id %}
        <a href="{% url 'quizzes:quiz_delete' quiz.id %}"class="btn btn-danger col-md-5">Delete</a>
        <button class="btn btn-success col-md-5 offset-md-1">{{ action }} Quiz</button>
        {% else %}
        <button class="btn btn-success btn-block">{{ action }} Quiz</button>
        {% endif %}
    </form>
</div>
{% endblock %}
